    /* Testimonials */
    .testimonial-section {
      padding: 180px 0 0;
    }
    .testimonial-section .left-row {
      transform: scale(1) !important;
    }
    .testimonial-section .content {
      border: 2px solid var(--color-4);
      padding: 40px 60px;
      width: 100%;
    }
    .testimonial-section .row {
      align-items: flex-end;
    }
    .testimonial-section .content h3 {
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;
      margin: 0px 0px 20px;
      color: var(--color-1);
    }
    .testimonial-section .content p {
      margin: 0;
      font-size: 16px;
      line-height: 26px;
      font-style: italic;
      font-weight: 400;
      color: var(--color-1);
    }
    .testimonial-section .img-box {
      width: 340px;
      aspect-ratio: 1 / 1;
      overflow: hidden;
    }
    .testimonial-section .img-box img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    .testimonial-section .reverse-row {
      align-items: flex-start;
    }
    .testimonial-section .reverse-row .img-box {
      margin-left: auto;
    }

    @media screen and (max-width: 991px) {
      .testimonial-section { padding-top: 130px; }
      .testimonial-section .img-box { width: 250px; }
      .testimonial-section .content { padding: 20px 20px; }
      .testimonial-section .content h3 { margin-bottom: 12px; font-size: 18px; line-height: 26px; }
      .testimonial-section .content p { font-size: 14px; line-height: 20px; }
    }
    @media screen and (max-width: 767px) {
      .testimonial-section { padding-top: 75px; }
      .testimonial-section .row { margin-right: 0; }
      .testimonial-section .img-box { width: 145px; width: 50%; margin: -40px 0 0 auto; position: relative; z-index: 1; }
      .testimonial-section .content { padding: 20px 20px 50px; border: 2px solid var(--color-4) !important; }
      .testimonial-section .reverse-row { margin-inline: 0; }
      .testimonial-section .reverse-row .img-box { margin: 0 auto -40px 0; }
      .testimonial-section .reverse-row .content { padding-block: 50px 20px; }
      .testimonial-section .content h3 { margin-bottom: 8px; font-size: 16px; line-height: 24px; }
      .testimonial-section .content p { font-size: 12px; line-height: 18px; }
    }
